.main {
  margin-left: 7%;
  margin-top: 10%;
}

.main h1 {
  font-size: 5vw;
}

.subheader {
  text-align: center;
  font-size: 3vw;
}

.github {
  margin-top: 1%;
}

.github img {
  width: 3.3vw;
}

.github span {
  font-size: 0.8vw;
}

.thumbnails {
  margin: 1%;
}

.features {
  display: grid;
  margin-bottom: 4%;
}