.main {
  text-align: center;
  font-size: 7vh;
}

.image {
  width: 40vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text {
  font-size: 2vh;
  margin: 3%;
  margin-left: 6%;
  margin-right: 6%;
  line-height: 3.2vh;
}
