.container {
    width: 20%;
    height: 5%;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 1%;
    background-color: white;
    border-radius: 7px;
    margin-top: -2%;
}

.item {
    display: inline;
    margin: 3%;
    padding: 2%;
    font-size: .9vw;
    background-color: black;
    border-radius: 7px;
}